* {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.portfolio{
  width: 100vw;
  height:100vh;
  background-color:cadetblue;
}
.container{
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}
.container>div{
  scroll-snap-align: start;
}
.navbar{
  display: flex;
  width: 100%;
  height: 12%;
  /* height: auto; */
  background-color: #3771C8;
  /* position: relative; */
  position: absolute;
  justify-content: flex-end;
  /* background-color: #3771C8; */
}

.ul-list{
  position: fixed;
  /* right: 1.2rem; */
  /* right:20px; */
  top:2rem;
  right:6rem;
  width: auto;
  display:flex;
  gap: 1.5rem;
  list-style-type: none;
  background-color: #b16c38;
  
}

.firstpage{
  width: 100%;
  background-color: #EABF9F;
  height: 75%;
}
.firstpage-intro{
  position: relative;
  left: 14rem;
  top:1rem;
  margin-top: auto;
  margin-bottom: auto;
  /* left: 191px; */
  width: 50%;
  /* height: auto; */
  /* height: 60%; */
  background-color: #C26868;
}
.intros{
  /* position: absolute; */
}
.intro-hii{
  position: absolute;
  font-weight: 500;
  font-size: 3rem;
  top:1.5rem;
  /* font-size: 15%; */
}

.intro-name{
  position:absolute;
  font-weight: 500;
  font-size: 3.7rem;
  top: 4.5rem;
}
.intro-bio{
  position:absolute;
  font-weight: 600;
  font-size: 20px;
  top:9rem;
}


.social-container{
  /* position:absolute; */
  position: relative;
  display: flex;
  justify-content: flex-end;
  /* right: 1.4rem; */

}
.socials{
  position: fixed;
  display: flex;
  flex-direction: column;
  gap:1rem;
  align-items: center;
  justify-content: center;
  width: 4.2rem;
  height: 14rem;
  background: rgba(30, 33, 45, 0.5);
  border-radius: 0.8rem 0 0 0.8rem;
  /* right: 1.2rem; */
  top:9rem;
}

.socials >img{
  width: 55%;
  height: auto;
}

.gmail-img{
  opacity: 0.6;

}
.secondpage{
  width: 100vw;
  height: 100vh;
  background-color:#C837AB;
}

.thirdpage{
  width: 100vw;
  height: 100vh;
  background-color:#4d37c8;
}

@media screen and (max-width:576px){
  .navbar{
      display: flex;
      justify-content: space-between;
      width:100%;
      height: auto;
      background-color: #c837a9;
    }

     
  .ul-list{
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      width: 100%;
      height: 100vh;
      list-style-type: none;
      background-color: #af5e20;
      right: 100%;
      top:0rem;
      transition-duration: 1s;
      transition-timing-function: ease-out;
  }

  .ul-list.nav-active{
      right: 0;
      transition-duration: 1s;
      height: 100vh;
      transition-timing-function: ease-out;
  }

  .burger{
      position: absolute;
      right: 1rem;
      top:0.5rem;
  }
  .bar{
      height: 10px;
      width: 50px;
      background-color: #000000;
      margin: 5px;
  }

  /* logos */
  .social-container{
    /* position:absolute; */
    position: relative;
    display: flex;
    justify-content: flex-end;
    /* right: 1.4rem; */
  
  }

  .socials{

      position: fixed;
      display: flex;
      flex-direction: column;
      gap:1rem;
      align-items: center;
      justify-content: center;
      width: 4.2rem;
      height: 14rem;
      background: rgba(30, 33, 45, 0.5);
      border-radius: 0.8rem 0 0 0.8rem;
      right: 0rem;
      top:5rem;
      transition: 1s;
      transition-timing-function:cubic-bezier(0.175, 0.885, 0.32, 1.275);
      /* transition-timing-function: ease-out; */
  }
  .social-active{
      right: -40%;
      transition: 1s;
      transition-timing-function: ease-out;
  }

  .socials >img{
      width: 55%;
      height: auto;
  }
  
  .gmail-img{
      opacity: 0.6;
  
  }


}